!!!
!! Includes
!!!
!#include ".xresources.d/colors"
!#include ".xresources.d/apps"
!
!!!
!! XWindow Stuffs
!!!
!*imLocale: en_US.UTF-8
!*lookAndFeel: motif
!
!!!
!! Font Rendering Stuffs
!!!
!Xft.dpi: 96
!Xft.rgba: rgb
!Xft.antialias: true
!Xft.autohint: false
!Xft.hintstyle: hintfull
!Xft.lcdfilter: lcddefault
!*faceName: Spleen
!*faceSize: 12
!
!!!
!! Pointer Stuffs
!!!
!Xcursor.size: 16
!Xcursor.theme: Capitaine Cursors (Gruvbox) - White


! https://addy-dclxvi.github.io/post/configuring-urxvt/
! XTerm.termName: URxvt
! Screen lingers after less went away
urxvt*secondaryScreen: false
XTerm*TiteInhibit: true
! Colours
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

! https://unix.stackexchange.com/questions/631241/mapping-otherwise-conflicting-or-unmappable-keys-in-terminal-vim
XTerm*metaSendsEscape: true
!XTerm*eightBitInput:   false

XTerm*vt100.backarrowKey: false
XTerm*ttyModes: erase ^?
XTerm*vt100.scrollBar: true
XTerm*vt100.selectToClipboard: true

URxvt*iso14755:    false
URxvt*keysym.C-i:  \033[105;5u
URxvt*keysym.C-X:  \033[88;5u


URxvt.depth:                      32
URxvt.background:                 [100]#222D31
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*background:                 black
URxvt*foreground:                 grey
URxvt*saveLines:                  5000

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:            true
! URxvt*transparent:              true
! URxvt*shading:                  138

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Control-V:     eval:paste_clipboard
URxvt.keysym.Control-C:     eval:selection_to_clipboard
!Xterm escape codes, word by word movement
URxvt.keysym.Control-Tab:         \033[9:5u 
URxvt.keysym.Control-Left:        \033[1;5D
URxvt.keysym.Shift-Control-Left:  \033[1;6D
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Shift-Control-Right: \033[1;6C
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Shift-Control-Up:    \033[1;6A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Shift-Control-Down:  \033[1;6B
! Rxvt.perl-ext-common:             ...,clipboard
! URxvt.keysym.M-C-c:               perl:clipboard:copy
! URxvt.keysym.M-v:                 perl:clipboard:paste
! URxvt.keysym.M-C-v:               perl:clipboard:paste_escaped
! URxvt*termName:                   string
! URxvt*geometry:                   geometry
! URxvt*chdir:                      string
! URxvt*loginShell:                 boolean
! URxvt*multiClickTime:             number
! URxvt*jumpScroll:                 boolean
! URxvt*skipScroll:                 boolean
! URxvt*pastableTabs:               boolean
! URxvt*scrollstyle:                plain
! URxvt*scrollBar_right:            boolean
! URxvt*scrollBar_floating:         true
! URxvt*scrollBar_align:            mode
! URxvt*thickness:                  number
! URxvt*scrollTtyOutput:            boolean
! URxvt*scrollTtyKeypress:          boolean
! URxvt*scrollWithBuffer:           boolean
! URxvt*tintColor:                  !7DA55
! URxvt*blurRadius:                 HxV
! URxvt*fading:                     number
! URxvt*fadeColor:                  color
! URxvt*utmpInhibit:                boolean
! URxvt*urgentOnBell:               boolean
! URxvt*visualBell:                 boolean
! URxvt*mapAlert:                   boolean
! URxvt*meta8:                      boolean
! URxvt*tripleclickwords:           boolean
! URxvt*insecure:                   boolean
! URxvt*cursorUnderline:            boolean
! URxvt*pointerBlank:               boolean
! URxvt*color0:                     color
! URxvt*color1:                     color
! URxvt*color2:                     color
! URxvt*color3:                     color
! URxvt*color4:                     color
! URxvt*color5:                     color
! URxvt*color6:                     color
! URxvt*color7:                     color
! URxvt*color8:                     color
! URxvt*color9:                     color
! URxvt*color10:                    color
! URxvt*color11:                    color
! URxvt*color12:                    color
! URxvt*color13:                    color
! URxvt*color14:                    color
! URxvt*color15:                    color
! URxvt*colorBD:                    color
! URxvt*colorIT:                    color
! URxvt*colorUL:                    color
! URxvt*colorRV:                    color
! URxvt*underlineColor:             color
! URxvt*scrollColor:                color
! URxvt*troughColor:                color
! URxvt*highlightColor:             color
! URxvt*highlightTextColor:         color
! URxvt*cursorColor:                color
! URxvt*cursorColor2:               color
! URxvt*pointerColor:               color
! URxvt*pointerColor2:              color
! URxvt*borderColor:                color
! URxvt*iconFile:                   file
! URxvt*font:                       fontname
! URxvt*boldFont:                   fontname
! URxvt*italicFont:                 fontname
! URxvt*boldItalicFont:             fontname
! URxvt*intensityStyles:            boolean
! URxvt*inputMethod:                name
! URxvt*preeditType:                style
! URxvt*imLocale:                   string
! URxvt*imFont:                     fontname
! URxvt*title:                      string
! URxvt*iconName:                   string
! URxvt*buffered:                   boolean
! URxvt*depth:                      number
! URxvt*visual:                     number
! URxvt*transient-for:              windowid
! URxvt*override-redirect:          boolean
! URxvt*hold:                       boolean
! URxvt*externalBorder:             number
! URxvt*internalBorder:             number
! URxvt*borderLess:                 true
! URxvt*lineSpace:                  number
! URxvt*letterSpace:                number
! URxvt*skipBuiltinGlyphs:          boolean
! URxvt*pointerBlankDelay:          number
! URxvt*backspacekey:               string
! URxvt*deletekey:                  string
! URxvt*print-pipe:                 string
! URxvt*modifier:                   modifier
! URxvt*cutchars:                   string
! URxvt*answerbackString:           string
! URxvt*secondaryScreen:            boolean
! URxvt*secondaryScroll:            boolean
! URxvt*perl-lib:                   string
! URxvt*perl-eval:                  perl-eval
! URxvt*perl-ext-common:            string
! URxvt*perl-ext:                   string
! URxvt*iso14755:                   boolean
! URxvt*iso14755_52:                boolean
! URxvt*xrm:                        string
! URxvt*keysym.sym:                 keysym
! URxvt*background.border:          boolean
! URxvt*background.expr:            string
! URxvt*background.interval:        seconds
! URxvt*bell-command:               string
! URxvt*kuake.hotkey:               string
! URxvt*matcher.button:             string
! URxvt*matcher.launcher:           string
! URxvt*matcher.launcher.*:         string
! URxvt*matcher.pattern.*:          string
! URxvt*matcher.rend.*:             string
! URxvt*remote-clipboard.fetch:     string
! URxvt*remote-clipboard.store:     string
! URxvt*searchable-scrollback:      string
! URxvt*selection-autotransform.*:  string
! URxvt*selection-pastebin.cmd:     string
! URxvt*selection-pastebin.url:     string
! URxvt*selection.pattern-0:        string
! URxvt*tab-bg:                     colour
! URxvt*tab-fg:                     colour
! URxvt*tabbar-bg:                  colour
! URxvt*tabbar-fg:                  colour
! URxvt*url-launcher:               string

! The Terminus font uses the following X-names:
! -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
! -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1
! -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
! -xos4-terminus-medium-r-normal--20-200-72-72-c-100-iso10646-1
! -xos4-terminus-medium-r-normal--22-220-72-72-c-110-iso10646-1
! -xos4-terminus-medium-r-normal--24-240-72-72-c-120-iso10646-1
! -xos4-terminus-medium-r-normal--28-280-72-72-c-140-iso10646-1
! -xos4-terminus-medium-r-normal--32-320-72-72-c-160-iso10646-1
! -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso10646-1
! -xos4-terminus-bold-r-normal--14-140-72-72-c-80-iso10646-1
! -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1
! -xos4-terminus-bold-r-normal--20-200-72-72-c-100-iso10646-1
! -xos4-terminus-bold-r-normal--24-240-72-72-c-120-iso10646-1
! -xos4-terminus-bold-r-normal--28-280-72-72-c-140-iso10646-1
! -xos4-terminus-bold-r-normal--32-320-72-72-c-160-iso10646-1

!URxvt.letterSpace: 0
!URxvt.lineSpace: 0
!URxvt.geometry: 92x24
!URxvt.internalBorder: 24
!URxvt.cursorBlink: true
!URxvt.cursorUnderline: false
!URxvt.saveline: 2048
!URxvt.scrollBar: false
!URxvt.scrollBar_right: false
!URxvt.keysym.Control-Up: \033[1;5A
!URxvt.keysym.Control-Down: \033[1;5B
!URxvt.keysym.Control-Right: \033[1;5C
!URxvt.keysym.Control-Left: \033[1;5D
!URxvt.copyCommand: xclip -i -selection clipboard
!URxvt.pasteCommand: xclip -o -selection clipboard
!URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!URxvt.keysym.M-s: perl:keyboard-select:search
!URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.urlLauncher: firefox
!URxvt.underlineURLs: true
!URxvt.urlButton: 1



!https://terminal.sexy
!Ctrl ~Meta  ~Shift <Key>x   :string("\033[120;5u") \n\
XTerm*VT100*translations:      #override \n\
        Shift <Key>Insert:  copy-selection(CLIPBOARD) \n\
        Shift <Key>Home:    copy-selection(CLIPBOARD) \n\
        Ctrl <Key>C:  copy-selection(CLIPBOARD) \n\
        Ctrl <Key>V:  insert-selection(CLIPBOARD)

XTerm*vt100.translations: #override \
  Ctrl ~Meta Shift <Key>a: string(0x1b) string("[65;5u") \n\
  Ctrl ~Meta Shift <Key>b: string(0x1b) string("[66;5u") \n\
  Ctrl ~Meta Shift <Key>f: string(0x1b) string("[70;5u") \n\
  Ctrl ~Meta ~Shift <Key>Tab: string(0x1b) string("[9;3u")
!    Ctrl<Key>c: copy-selection(CLIPBOARD) \n\
!    Ctrl<Key>v: insert-selection(CLIPBOARD) \n\
!    Shift<Key>Right: select-start() \n\
!    Shift<Key>Right: select-extend()

!XTerm*vt100.translations: #override \n\
!    Ctrl ~Meta  Shift <Key>x    :string("\033[88;5u") \n\
!    Ctrl ~Meta ~Shift <Key>i    :string("\033[105;5u") \n\
!    ~Ctrl ~Meta  Shift <Key>Tab :string("\033[Z")    \n\
!    Ctrl ~Meta ~Shift <Key>Tab  :string("\033[9;5u") \n\
!    Ctrl ~Meta  Shift <Key>Tab  :string("\033[1;5Z")

!URxvt.keysym.S-Return:     \033[13;2u
!URxvt.keysym.C-Return:     \033[13;5u
!Maps to F33 and F44 respectively
! Ctrl<Key>BackSpace:string("\033[20;5~") \n\
! Ctrl<Key>V: vi-insertion-mode(CLIPBOARD) \n\
! Ctrl<Key>V: insert-selection(PRIMARY) \n\
!XTerm*V100.Translations: #override \n\
!    Ctrl<Key>Return:string("\025[25;5~") \n\
!    Alt<Key>A:string("\030[41;4~") \n\
!    Alt<Key>S:string("\030[41;5~") \n\
!    Alt<Key>D:string("\030[41;4~") \n\
!    Ctrl<Key>Tab:string("\025[26~")
!    F13:string("\033[26~")

!URxvt.keysym.C-Tab:     \033[26~
!Tab wont be understood though
