urxvt*secondaryScreen: false
XTerm*TiteInhibit: true

URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

URxvt.keysym.S-Return:     \033[13;2u
URxvt.keysym.C-Return:     \033[13;5u

*URxvt.translations: #override Shift <Key>BackSpace: backward-kill-word()
